:root{
    --pri:#F8F4E1;
    --sec:#381c0a;
    --tri1: #FEBA17;
    --tri2: #74512D;
    --red:red;
    --green: rgb(5, 197, 5);
    --blue: rgb(15, 193, 243);
}


@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./AeonikTRIAL-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: aeonik;
    color: var(--pri);
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    min-height: 100%;
    width: 100%;
    background-color: var(--sec);
    color: var(--pri);
    padding-top: 60px;
    box-sizing: content-box;
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 21px;
    position: absolute;
}

.allElems .allFeatures{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 18px;
}

.allElems header{
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1717361279773-b2e7ee713d2e?q=80&w=3869&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}


.elem{
    background-color: #FEBA17;
    height: 250px;
    width: 230px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all ease-in 0.5s;
    cursor: pointer;
}

.elem:active{
    scale: 0.90;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem h2{
    position: absolute;
    bottom: 4%;
    right: 5%;
    font-size: 25px;
    font-weight: 500;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding: 21px;
    display: none;
    position: absolute;
}

.back{
    position: absolute;
    right: 5%;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: var(--red);
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.back:active{
    scale: 0.95;
}

/* .todo-list-fullpage{
    display: block;
} */

.todo-list-fullpage h2{
    font-size: 40px;
}

.todo-list-fullpage .todo-container{
    height: 85%;
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask{
    width: 33%;
    background-color: red;
    height: 100%;
    background-color: var(--tri2);
    border-radius: 20px;
}

/* .todo-list-fullpage .todo-container .allTask{
    width: 65%;
    background-color: blue;
    height: 100%;
    background-color: var(--tri2);
    border-radius: 20px;
} */

.todo-list-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.todo-container .addTask form input#task-input{
    padding: 8px 16px;
    width: 100%;
    font-size: 20px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 10px;
}

.todo-container .addTask form textarea{
    padding: 8px 16px;
    width: 100%;
    font-size: 20px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 10px;
}
.todo-container .addTask form button{
    padding: 8px 16px;
    width: 100%;
    font-size: 20px;
    background-color: var(--tri1);
    font-weight: 700;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all ease-in 0.3s;
}

.todo-container .addTask form button:active{
    scale: .96;
}

.todo-list-fullpage .todo-container .allTask{
    width: 65%;
    height: 100%;
    background-color: var(--tri2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    overflow: auto;
}


.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--pri);
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.task h5{
    color: var(--sec);
    font-size: 25px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.task h5 span{
    background-color: var(--red);
    color: var(--pri);
    font-size: 11px;
    padding: 4px 6px;
    border-radius: 50px;
}

.task h5 span.true{
    opacity: 1;
}
.task h5 span.false{
    opacity: 0;
}

.task button{
    padding: 10px 20px;
    color: var(--pri);
    background-color: green;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.mark-imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    gap: 20px;
}

.mark-imp input{
    scale: 1.8;
}

.mark-imp label{
    font-size: 20px;
}

/* .daily-planner-fullpage{
} */

.daily-planner-fullpage h2{
    font-size: 40px;
}

.daily-planner-fullpage .day-planner{
    background-color: var(--tri2);
    height: 85%;
    margin-top: 40px;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow: auto;
}

.daily-planner-fullpage .day-planner .day-planner-time{
    display: flex;
    align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 10px;
}

.day-planner .day-planner-time p{
    position: absolute;
    top: 10%;
    left: 1%;
    font-size: 16px;
    color: var(--tri1);
}

.day-planner .day-planner-time input{
    padding: 20px 40px;
    width: 100%;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 25px;
    padding-top: 35px;
}

.motivation-fullPage-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.motivational-fullpage .motivation-container{
    height: 400px;
    width: 70%;
    border-radius: 50px;
    position: relative;
}

.motivational-fullpage .motivation-container::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--tri1);
    border-radius: 50px;
    scale: 1;
    z-index: 8;
    filter: blur(100px);
}

.motivational-fullpage .motivation-container .motivation-wrapper{
    z-index: 10;
    position: absolute;
    width: 100%;
    border-radius: 40px;
    background-color: var(--tri1);
    padding: 15px;
}

.motivation-1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.motivation-1 h2{
    padding: 20px;
    background-color: var(--tri2);
    border-radius: 20px;
    font-size: 40px;
    font-weight: 500;
    text-align: right;
    width: fit-content;
}

.motivation-2{
    padding: 10px;
    margin-top: 20px;
}

.motivation-2 h1{
    font-size: 40px;
    font-weight: 700;
    color: var(--sec);
}

.motivation-3{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.motivation-3 h2{
    padding: 20px;
    background-color: var(--tri2);
    border-radius: 20px;
    font-size: 40px;
    font-weight: 500;
    text-align: right;
    width: fit-content;
}

.motivational-fullpage .motivation-container .motivation-wrapper img{
    position: absolute;
    right: 5%;
    top: 8%;
    opacity: 0.3;
}

/* .pomodoro-fullpage{
    height: 100%;
} */


.pomodoro-fullpage h2 {
    font-size: 40px;
}

.pomodoro-fullpage .pomo-timer {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pomo-timer h1 {
    font-size: 100px;
}

.pomo-timer button {
    background-color: var(--tri2);
    padding: 15px 40px;
    font-size: 25px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 0px black;
    transition: all ease 0.1s;
    font-weight: 700;
    cursor: pointer;
}

.pomo-timer button:active {
    box-shadow: 0px 0px 0px black;
}

.pomodoro-fullpage .session {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgb(3, 192, 3);
    padding: 15px 30px;
    font-size: 30px;
    border-radius: 5px;
}


nav {
    position: fixed;
    top: 0%;
    z-index: 99;
    height: 30px;
    width: 100%;
    padding: 10px 30px;
}

.nav-in {
    display: flex;
    background-color: var(--tri2);
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 10px;
}

.nav-in h2 {
    font-size: 20px;
    font-weight: 700;
}

.theme {

    background-color: var(--pri);
    padding: 12px 20px;
    border-radius: 10px;
    transition: all ease 0.2s;
    cursor: pointer;

}

.theme h4 {
    color: var(--sec);
    font-weight: 700;
    font-size: 20px;
    pointer-events: none;
}

.theme:active {
    scale: 0.96;
}

header .header1 h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

header .header1 h2 {
    font-size: 20px;
    font-weight: 500;
}

header .header1 h4 {
    font-weight: 500;
    font-size: 20px;
}

header .header2 h2 {
    font-weight: 700;
    font-size: 50px;
}

header .header2 h4 {
    font-weight: 500;
    margin-top: -10px;
    margin-bottom: 45px;
    font-size: 20px;
}

header .header2 h3 {
    font-weight: 500;
    font-size: 18px;
    opacity: 0.8;
}